################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Nokia3310.Detector.Solution
/Nokia3310.Detector.App/bin/
/Nokia3310.Detector.App/obj
/Nokia3310.ModelTrainer/bin/
/Nokia3310.ModelTrainer/obj
/Nokia3310.Shared/bin/x64/
/Nokia3310.Shared/obj
/Nokia3310.ModelTrainer/image_set/
/Nokia3310.Detector.App/image
.vs/
/Nokia3310.Detector.App/bin/
/Nokia3310.Detector.App/obj/
/Nokia3310.ModelTrainer/bin/
/Nokia3310.ModelTrainer/obj/
/Nokia3310.Shared/bin/
/Nokia3310.Shared/obj/
/.db
/Detector.Api.Old/bin/Debug/net7.0
/Detector.Api.Old/obj
/Detector.ML/Nokia3310.ModelTrainer/bin/
/Detector.ML/Nokia3310.ModelTrainer/obj/
/Detector.Test/bin/
/Detector.Test/obj/
/Detector.Web/Detector.App/bin/
/Detector.Web/Detector.App/obj/
/Detector.Web/Detector.Contract/bin/
/Detector.Web/Detector.Contract/obj/
/Detector.Web/Detector.Shared/obj
/Detector.WebApi/bin/Debug/
/Detector.WebApi/obj/
/TestResults/08075e89-44f4-4ce0-b017-0a1520e4640b
