@page "/about"
<h3>About Nokia 3310 Detector (From Wikipedia)</h3>


<table class="infobox hproduct" style="width:22em">
    <caption class="fn">Nokia 3310</caption>
    <tbody>
        <tr>
            <td colspan="2" style="text-align:center">
                <a href="/wiki/File:Nokia_3310_blue.jpg" class="image">
                    <img alt="Nokia 3310 blue.jpg" src="//upload.wikimedia.org/wikipedia/commons/thumb/3/31/Nokia_3310_blue.jpg/150px-Nokia_3310_blue.jpg" decoding="async" width="150" height="355" srcset="//upload.wikimedia.org/wikipedia/commons/thumb/3/31/Nokia_3310_blue.jpg/225px-Nokia_3310_blue.jpg 1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/3/31/Nokia_3310_blue.jpg/300px-Nokia_3310_blue.jpg 2x" data-file-width="1283" data-file-height="3037" />
                </a>
            </td>
        </tr>
        <tr>
            <th scope="row">
                <a href="/wiki/List_of_mobile_phone_makers_by_country" class="mw-redirect" title="List of mobile phone makers by country">Manufacturer</a>
            </th>
            <td class="brand">
                <a href="/wiki/Nokia" title="Nokia">Nokia</a>
            </td>
        </tr>
        <tr>
            <th scope="row">Series</th>
            <td>
                <a href="/wiki/List_of_Nokia_products#Nokia_3xxx_–_Expression_series_(1997–2009,_2017)" title="List of Nokia products">Nokia 3000 series</a>
            </td>
        </tr>
        <tr>
            <th scope="row">
                <a href="/wiki/Comparison_of_mobile_phone_standards" title="Comparison of mobile phone standards">Compatible networks</a>
            </th>
            <td>
                <a href="/wiki/GSM" title="GSM">GSM</a> (3310, 3315, 3360, 3390, and 3395)<br /><a href="/wiki/Digital_AMPS" title="Digital AMPS">TDMA</a> (3320 and 3360)
            </td>
        </tr>
        <tr>
            <th scope="row">First released</th>
            <td>1&#160;September 2000<span class="noprint">&#59;&#32;19 years ago</span><span style="display:none">&#160;(<span class="bday dtstart published updated">2000-09-01</span>)</span> (3310); 2002<span style="display:none">&#160;(<span class="bday dtstart published updated">2002</span>)</span> (3360)</td>
        </tr>
        <tr>
            <th scope="row">Discontinued</th>
            <td>2005<span style="display:none">&#160;(<span class="dtend">2005</span>)</span></td>
        </tr>
        <tr>
            <th scope="row">Units sold</th>
            <td>126 million</td>
        </tr>
        <tr>
            <th scope="row">Predecessor</th>
            <td><a href="/wiki/Nokia_3210" title="Nokia 3210">Nokia 3210</a></td>
        </tr>
        <tr>
            <th scope="row">Successor</th>
            <td><a href="/wiki/Nokia_3410" title="Nokia 3410">Nokia 3410</a><br /><a href="/wiki/Nokia_3510" title="Nokia 3510">Nokia 3510</a><br /><a href="/wiki/Nokia_6510" title="Nokia 6510">Nokia 6510</a><br /><a href="/wiki/Nokia_2600" title="Nokia 2600">Nokia 2600</a><br /><a href="/wiki/Nokia_2100" title="Nokia 2100">Nokia 2100</a><br /><a href="/wiki/Nokia_1100" title="Nokia 1100">Nokia 1100</a><br /><a href="/wiki/Nokia_3310_(2017)" title="Nokia 3310 (2017)">Nokia 3310 (2017)</a><br /><a href="/wiki/Nokia_800_Tough" title="Nokia 800 Tough">Nokia 800 Tough</a> (spiritual)</td>
        </tr>
        <tr><th scope="row">Related</th><td><a href="/wiki/List_of_Nokia_products" title="List of Nokia products">List of Nokia products</a></td></tr>
        <tr><th scope="row">Type</th><td>Basic phone</td></tr>
        <tr><th scope="row"><a href="/wiki/Form_factor_(mobile_phones)" title="Form factor (mobile phones)">Form factor</a></th><td><a href="/wiki/Form_factor_(mobile_phones)#Bar" title="Form factor (mobile phones)">Candy bar</a></td></tr>
        <tr><th scope="row">Dimensions</th><td>113&#160;mm ×&#160;48&#160;mm ×&#160;22&#160;mm (4.45&#160;in ×&#160;1.89&#160;in ×&#160;0.87&#160;in)</td></tr>
        <tr><th scope="row">Mass</th><td>133&#160;g (4.7&#160;oz)</td></tr>
        <tr><th scope="row"><a href="/wiki/Mobile_operating_system" title="Mobile operating system">Operating system</a></th><td>Series 20</td></tr>
        <tr><th scope="row"><a href="/wiki/Central_processing_unit" title="Central processing unit">CPU</a></th><td><span class="nowrap"><a href="/wiki/Texas_Instruments" title="Texas Instruments">Texas Instruments</a> MAD2WD1</span> (based on <a href="/wiki/ARM7#ARM7TDMI" title="ARM7">ARM7TDMI</a>)</td></tr>
        <tr><th scope="row">Memory</th><td>Built-in 1 <a href="/wiki/Kilobyte" title="Kilobyte">KB</a></td></tr>
        <tr><th scope="row"><a href="/wiki/Battery_(electricity)" class="mw-redirect" title="Battery (electricity)">Battery</a></th><td>Removable<br />BMC-3 (<a href="/wiki/Nickel%E2%80%93metal_hydride_battery" title="Nickel–metal hydride battery">NiMH</a>) 900 <a href="/wiki/Ampere_hour" title="Ampere hour">mAh</a>, or<br />BLC-2 (<a href="/wiki/Lithium-ion_battery" title="Lithium-ion battery">Li-ion</a>) 1000 mAh</td></tr>
        <tr><th scope="row">Data inputs</th><td>Alphanumeric <a href="/wiki/Keypad" title="Keypad">keypad</a></td></tr>
        <tr><th scope="row">Display</th><td>1.5-inch backlit monochrome graphic <a href="/wiki/Liquid-crystal_display" title="Liquid-crystal display">LCD</a> display<br />84x48 <a href="/wiki/Pixel" title="Pixel">px</a>, 64 <a href="/wiki/Pixel_density" title="Pixel density">ppi</a>, 5 lines<sup id="cite_ref-Stinson_1-0" class="reference"><a href="#cite_note-Stinson-1">&#91;1&#93;</a></sup></td></tr>
        <tr><th scope="row">Sound</th><td><a href="/wiki/Ringtone#Types" title="Ringtone">Monophonic ringtones</a></td></tr>
        <tr><th scope="row"><a href="/wiki/Specific_absorption_rate" title="Specific absorption rate">SAR</a></th><td>0.96 W/kg (head)</td></tr>
    </tbody>
</table>



@code {

}
